header {
     	padding: 100px;
      	color: #ffffff;
	display: flex; justify-content: center; align-items: center;
    }
.container{
	
}
 .tay{
	text-align: center;
	padding: 15px;
	background-color:#03498b;
	border-radius:10px;
	text-color: #ffffff;
}
